<%= form_with(model: @movie, local: true) do |f| %>
    <%= movie.errors.full_messages.to_sentence %>
    <%= render "shared/errors", object: movie %>

    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>

    <%= f.label :description %>
    <%= f.text_field :description, rows: 10 %>

    <%= f.label :rating %>
    <%= f.select :rating, Movie::RATINGS, prompt: "Pick one" %>

    <%= f.label :released_on %>
    <%= f.date_field :released_on %>

    <%= f.label :total_gross %>
    <%= f.number_field :total_gross %>

    <%= f.label :director %>
    <%= f.text_field :director %>

    <%= f.label :duration %>
    <%= f.text_field :duration %>

    <%= f.label :image_file_name %>
    <%= f.text_field :image_file_name %>

    <%= f.submit %>
<% end %>