<section class="user">
    <%= profile_image(@user) %>
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <h3>Member Since</h3>
    <p>
        <%= @user.created_at.strftime("%B %Y") %>
     </p>
     
     <div class="actions">
        <% if current_user?(@user) %>
        <%= link_to "Edit Account", edit_user_path(@user),
                    class: "button edit" %>
        <% end %>
        <% if current_user_admin? %>
        <%= link_to 'Delete Account', @user, method: :delete,
              data: { confirm: "Permanently delete your account!?" },
              class: "button delete" %>
        <% end %>
    </div>
    
</section>