<h1>New Review for <%= link_to @movie.title, @movie %></h1>
<%= form_with(model: [@movie, @review], local: true) do |f| %>
  <%= render "shared/errors", object: @review %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :stars %>
    <% Review::STARS.each do |star| %>
        <span class="star">
            <%= f.radio_button :stars, star %>
            <%= label_tag star %>
        </span>
    <% end %>

  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: "What did you think?" %>

  <%= f.submit "Post Review" %>
<% end %>
