<header>
  <nav>
    <%= image_tag("logo") %>
    <ul class="left">
      <li>
        <%= link_to "All Movies", "/movies"%>
      </li>
    </ul>
    <ul class="right">
      <% if current_user %>
       <li>
        <%= link_to current_user.name, current_user %>
      </li>
      <li>
        <%= link_to "Account Settings", edit_user_path(current_user) %>
      </li>
      <li>
        <%= link_to "Sign Out", session_path, method: :delete, class: "button" %>
      </li>
      <% else %>
      <li>
        <%= link_to "Sign In", signin_path, class: "button" %>
        <%= link_to "Sign Up", signup_path, class: "button" %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>